.center-text {
    text-align: center;
}

.services-header {
    font-size: 1.25rem;
    color: #4F4F4F;
    font-weight: 600;
}

/* .hero-picture {
    height: 100px;
    width: 100px;
    border-radius: 50%;
} */